@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-size: cover;
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(245, 163, 218)), color-stop(100%,rgb(91, 42, 86)));
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(40% - 125px);
	right: calc(59%);
	z-index: 2;
}

.header div{
	float: left;
	color: rgb(88, 10, 77);
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 300;
}

.header div span{
	color: #5379fa !important;
}

.login{
	position: absolute;
	top: calc(43% - 75px);
	right: calc(60% - 125px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(61, 6, 62, 0.6);
	border-radius: 2px;
	color: rgb(88, 28, 80);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(61, 6, 62, 0.6);
	border-radius: 2px;
	color: rgb(90, 17, 100);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 230px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #9f1085;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
    margin-left: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=button2]:hover{
	opacity: 0.8;
}

.login input[type=button2]:active{
	opacity: 2;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(105, 13, 93, 0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

.login input[type=button2]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(76, 23, 90, 0.6);
}

::-moz-input-placeholder{
   color: rgba(157, 63, 113, 0.6);
}


.login input[type=button2]{
	width: 180px;
	height: 30px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 12px;
	font-weight: 300;
	padding: 15px;
	margin-top: 10px;
    margin-left: 35px;
}

.imginside {
    width: 280px;
    height: 330px ; 
    margin: 10px;
    filter: saturate(180%); 
}

.img1{
	position: absolute;
	top: calc(27%);
	right: calc(25%);
	width: 320px;
    height: 400px ; 
    margin: 10px; 
	padding: 10px;
	z-index: 2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(238, 175, 240)), color-stop(100%,rgb(37, 10, 34)));
}


.header2{
	position: absolute;
	top: calc(40% - 125px);
	right: calc(28%);
	z-index: 2;
}

.header2 div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 200;
}

.header2 div span{
	color: #5379fa !important;
}


.png1 {
    width: 1000px;
    height: 300px ; 
    margin: 10px;
    filter: saturate(180%); 
}