<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Edita tu perfil</div>
</div>
<br>
<div class="login">
        <input type="text" placeholder="  usuario" name="username" [(ngModel)]="user.username">
        <br><br>
        <input type="text" placeholder="  nombre completo" name="nombre" [(ngModel)]="user.nombre">
        <br><br>
        <input type="password" placeholder="  password" name="password" [(ngModel)]="user.password">
        <br><br>
        <input type="password" placeholder="  confirma tu password" name="repassword" [(ngModel)]="user.repassword">
        <br><br>
        <input type="button" value="行きましょう" (click)="editar()">
</div>

<div class="header2">
    <div>muestranos tu mejor sonrisa</div>
</div>

<div class="img1">
    <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
    <br>
    <img class="imginside" [src]="cardImageBase64" />
</div>



<!-- HTML para navbar -->
<div class="nav1">
    <img type="logo" src="../../../assets/img/logo1.JPG" alt="selfie">
    <input type="button" value="Pagina inicial" (click)="goto_paginainicio()">
    <input type="button" value="Control perfil" (click)="goto_editarperfil()">
    <input type="button" value="Catalogo" (click)="goto_Catalogo()"> 
    <input type="button" value="Manejo de album" (click)="goto_editaralbum()"> 
    <input type="button" value="Subir foto" (click)="goto_upload()"> 
</div>
<img class="imgperfil" [src]="user.foto" (click)="goto_paginainicio()">
<!-- ------------------------------------------------------------------ -->