<div class="body"></div>
<div class="grad"></div>

<div class="panel_img1">
    <img class="img1" [src]="user.foto" />
</div>

    <div class="form1"> 
    <input type="text" placeholder="  usuario" name="user" [(ngModel)]="user.username">
    <br><br>
    <input type="text" placeholder="  usuario" name="user" [(ngModel)]="user.nombre">
    <br><br><br>
    <input type="button" value="Editar perfil">
    <br>
    <input type="button" value="Cerrar sesion" (click)="goto_loginl()">
    <br><br>
    <input type="button" value="Editar album" (click)="goto_editaralbum()">
</div>


<div class="form2">
    <div>Username</div>
    <br><br>
    <div>Nombre completo</div>
</div>

<!-- HTML para navbar -->
<div class="nav1">
    <img type="logo" src="../../../assets/img/logo1.JPG" alt="selfie">
    <input type="button" value="Pagina inicial" (click)="goto_paginainicio()">
    <input type="button" value="Control perfil" (click)="goto_editarperfil()">
    <input type="button" value="Catalogo" (click)="goto_Catalogo()"> 
    <input type="button" value="Manejo de album" (click)="goto_editaralbum()"> 
    <input type="button" value="Subir foto" (click)="goto_upload()"> 
</div>
<img class="imgperfil" [src]="user.foto" (click)="goto_paginainicio()">
<!-- ------------------------------------------------------------------ -->