<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Sing Up</div>
</div>
<br>
<div class="login">
        <input type="text" placeholder="  usuario" name="username" [(ngModel)]="user.username">
        <br><br>
        <input type="text" placeholder="  nombre completo" name="nombre" [(ngModel)]="user.nombre">
        <br><br>
        <input type="password" placeholder="  password" name="password" [(ngModel)]="user.password">
        <br><br>
        <input type="password" placeholder="  confirma tu password" name="repassword" [(ngModel)]="user.repassword">
        <br><br>
        <input type="button" value="行きましょう" (click)="singup()">
</div>

<div class="header2">
    <div>muestranos tu mejor sonrisa</div>
</div>

<div class="img1">
    <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
    <br>
    <img class="img" [src]="cardImageBase64" />
</div>

<!-- HTML para navbar -->
<div class="nav1">
    <img type="logo" src="../../../assets/img/logo1.JPG" alt="selfie">
</div>
<!-- ------------------------------------------------------------------ -->
