<!-- HTML para navbar -->
<div class="nav1">
    <img type="logo" src="../../../assets/img/logo1.JPG" alt="selfie">
    <input type="button" value="Pagina inicial" (click)="goto_paginainicio()">
    <input type="button" value="Control perfil" (click)="goto_editarperfil()">
    <input type="button" value="Catalogo" (click)="goto_Catalogo()"> 
    <input type="button" value="Manejo de album" (click)="goto_editaralbum()"> 
    <input type="button" value="Subir foto" (click)="goto_upload()"> 
</div>
<img class="imgperfil" [src]="user.foto" (click)="goto_paginainicio()">
<!-- ------------------------------------------------------------------ -->

<br><br><br><br>    
      <!--  <tr *ngFor="let item of this.catalogo">
            <td> {{item.album}} </td>
            <td align="center">  
                <div>
                    <img class="gato" src="{{item.foto}}" />
                </div>
            </td>
        </tr> -->
        <div class="row-fluid">
            <div class="col-lg-12 col-md-10 ">
                <div class="cover-container" *ngFor="let item2 of this.albunes">         
                        <h5>{{item2}}</h5>                                
                        <div class="cover-item2" *ngFor="let item of this.catalogo" >
                            <div class="cover-item" *ngIf="item2==item.album" style="background-image: url('{{item.foto}}')"> 
                            <a [routerLink]="['/imagen',item.id]" class="btn btn-primary">Ver</a>
                            </div>
                        </div>
                </div>
            </div>
        <div>




