<div class="body"></div>
<div class="grad"></div>

<div class="header">
    <div>Login</div>
</div>
<br>
<div class="img1">
    <h1>Login con webcam</h1>
    <b>Usuario:   </b><input type="text" placeholder="  usuario" name="user" [(ngModel)]="user.username"><br><br>
    <h3>Toma una foto</h3>
    <textarea name="comentarios" rows="9" cols="43" [(ngModel)]="user.fotocomparativa">Escribe aquí tus comentarios</textarea>
    <button (click)="comparar()">Comparar</button>
    <img [src]="user.foto" id='perfilfoto'>
    <canvas id="canvas" style="overflow:auto"></canvas>
    <br>
</div> 
<div class="login">
        <input type="text" placeholder="  usuario" name="user" [(ngModel)]="user.username"><br>
        <input type="password" placeholder="  password" name="password" [(ngModel)]="user.password"><br>
        <input type="button" value="Ingresar" (click) = "logear()">
        <input type="button" value="No tienes cuenta?" (click) = "goto_singup()">
        <br><br>       

</div>

<!-- CODIGO PLUS -->



<!-- ------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------ -->

<!-- HTML para navbar -->
<div class="nav1">
    <img type="logo" src="../../../assets/img/logo1.JPG" alt="selfie">
</div>
<!-- ------------------------------------------------------------------ -->
