<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Login</div>
</div>
<br>
<div class="img1">
    <img src="../../../assets/img/selfie.jpeg" alt="selfie">
</div>
<div class="login">
        <input type="text" placeholder="  usuario" name="user" [(ngModel)]="user.username"><br>
        <input type="password" placeholder="  password" name="password" [(ngModel)]="user.password"><br>
        <input type="button" value="入ってください" (click) = "logear()">
</div>


<!-- HTML para navbar -->
<div class="nav1">
    <img type="logo" src="../../../assets/img/logo1.JPG" alt="selfie">
</div>
<!-- ------------------------------------------------------------------ -->
